<footer th:fragment="pie" class="px-2 py-2 fixed-bottom bg-dark" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="social">
        <a href="#"><i class="icon ion-social-instagram"></i></a>
        <a href="#"><i class="icon ion-social-snapchat"></i></a>
        <a href="#"><i class="icon ion-social-twitter"></i></a>
        <a href="#"><i class="icon ion-social-facebook"></i></a>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://instagram.com/fullclean.inst?igshid=1ric50dwdf7hl">Instagram</a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/fullclean2021/">Facebook</a></li>
            <li class="list-inline-item"><a href="#">Acerca de</a></li>
            <li class="list-inline-item"><a href="#">Términos y Condiciones</a></li>
            <li class="list-inline-item"><a href="#">Política de Privacidad</a></li>
        </ul>
        <p class="copyright"> Full Clean © 2021</p>
    </div>
</footer>